

#contenedor {
    margin: 0 auto;
    width: 960px
}


li, a {
    list-style: none;
    text-decoration: none;
    font-family:'Arial Narrow Bold' sans-serif ;
    color: white;
    font-size: 16px;
    background-color: black;
    margin-left: 20px;
    padding: 10px;
}
.dropdown > li{
    
    float: left;
    margin: 0;
   
  }
  .dropdown li ul{
    display: none;
    position: relative;
    
  } 
  .dropdown li ul li {
    position: relative;
  }
  .desplegable li a:hover{
    background-color: rgb(92, 90, 90);
    color: #ffffff;
    font-size: 20px;
    margin-top: 5px;
  }
  .dropdown li:hover > ul{
    display:block;
    margin: 0;
  }
